<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      var error = [[${error}]];
      if(error != null){
        alert(error);
      }

    });
  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .input-group {
      margin-bottom : 15px
    }
    .fieldError {
      color: #bd2130;
    }

    a {
      text-decoration: none;
    }


  </style>
</th:block>

<div layout:fragment="content">
  <form th:object="${boardList}" th:action method="get">

    <table class="table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>내용</th>
          <th>작성자</th>
          <th>작성 시간</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board, num : ${boardList}">
          <td th:text="${num.count}"></td>
          <td
                  th:onclick="|location.href='@{/board/detail/}${board.boardId}'|"
                  th:text="${board.boardTitle}"
                  style="cursor:pointer;"
          >

          </td>
          <td th:text="${board.boardContents}"></td>
          <td th:text="${board.boardWriter}"></td>
          <td th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
      </tbody>


    </table>


  </form>
</div>
</html>