<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">

  <script th:inline="javascript">

  function deleteBoardFn(id){

    let result = confirm('삭제 하시겠습니까?');

    if(result){

      let token = $("meta[name='_csrf']").attr("content");
      let header = $("meta[name='_csrf_header']").attr("content");

      let idValue = {id : id }
      $.ajax({
        type: 'POST',
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        url: '/board/delete/'+id,
        data: idValue,
        success: function (){
          location.href='/board/list'
        }
      })
    }
  }
  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .input-group {
      margin-bottom : 15px
    }
    .fieldError {
      color: #bd2130;
    }

    a {
      text-decoration: none;
    }
  </style>
</th:block>

<div layout:fragment="content">
  <form th:object="${board}" th:action method="get" enctype="multipart/form-data">

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">작성자</span>
      </div>
      <a type="text" class="form-control"  th:text="${board.boardWriter}" style="text-decoration: none"></a>
    </div>


    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">제목</span>
      </div>
      <a type="text" class="form-control" th:text="${board.boardTitle}" style="text-decoration: none"></a>
    </div>


    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">내용</span>
      </div>
      <a class="form-control" th:text="${board.boardContents}" style="text-decoration: none;" ></a>
    </div>

    <div>

      <div class="custom-file-detail">
        <div  class="custom-file-detail" th:if="${#lists.size(boardFileList) ne 0}">
          <div th:each="boardFile : ${boardFileList}">
            <a th:href="|/board/file/download/${boardFile.boardFileId}|"  th:text="${boardFile.boardFileName}" style="padding:1px 30px 3px 4px;"></a>
            <span th:text="${#temporals.format(boardFile.createTime, 'yyyy-MM-dd HH:mm')}" ></span>
          </div>
        </div>
      <div class="sub-img">
      </div>
    </div>

    <br/>
      <div style="text-align: center">
<!--        <span th:if="${member} != null and ${board.memberId} == ${member.id}">-->
          <span class="nav-item" sec:authorize="isAuthenticated()">
              <button th:onclick="|location.href='@{/board/update/}${board.boardId}'|" type="button" class="btn btn-primary" id="btn">수정</button>
          </span>
          <span class="nav-item" sec:authorize="isAuthenticated()">
            <button type="button" th:onclick="|deleteBoardFn('${board.boardId}')|" class="btn btn-primary" id="delete">삭제</button>
          </span>
<!--        </span>-->
        <button th:onclick="|location.href='@{/board/list}'|" type="button" class="btn btn-primary">목록</button>
      </div>
    </div>
  </form>
</div>
</html>