<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        function bindDomEvent(){
            $(document).on("change", ".custom-file-input", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }

        function cancelBoard(val){

            let result = confirm('취소 하시겠습니까?');

            if(result){
                location.href = '/board/detail/' + val
            }

        }

        function addFile(){

            let htmlData = '';
            htmlData += '<div class="sub-img">'
            htmlData +=     '<div class="custom-file img-div">'
            htmlData +=     '<input type="file" class="custom-file-input" name="boardFileList">'
            htmlData +=     '<label class="custom-file-label"></label>'
            htmlData +=     '</div>'
            htmlData += '</div>'

            let fileSize = $('.custom-file.img-div').length + $(".file-detail-list").length

            if(fileSize < 5) {

                $('.img-list').append(htmlData)
            } else {
                alert("첨부파일 갯수는 최대 5개 입니다.")
            }
        }

        function removeFile(){

            let fileSize = $('.custom-file.img-div').length
            if( fileSize > 1) {
                $('.sub-img:last').remove()
            }
        }

        function updateBoardFn(val){

            let title = $('#boardTitle').val().trim().length
            let contents = $('#boardContents').val().trim().length

            let result = confirm('저장 하시겠습니까?');

            if( title == 0){
                alert("제목에 공백이 있습니다.")
                result = false;
            }
            else if(contents == 0){
                alert("내용에 공백이 있습니다.")
                result = false;
            }

            if(result){

                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");

                let arr = [];

                $('.fileIdList').each(function(i, obj) {
                    arr[i] = $(obj).data('fileid');
                });

                let formData = new FormData();

                formData.append('boardId', [[${board.boardId}]])
                formData.append('boardTitle', $('#boardTitle').val())
                formData.append('boardContents', $('#boardContents').val())
                formData.append('fileIdList', arr)
                let inputFile = $("input[type='file']")
                let inputFileLength = inputFile.length


                for(var i = 0;  i < inputFileLength; i++){
                    if(!(inputFile[i].value == "")){
                        formData.append('boardFileList', inputFile[i].files[0])
                    }
                }

                $.ajax({
                    url : "/board/update/" + val,
                    type : "POST",
                    beforeSend : function(xhr){
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        xhr.setRequestHeader(header, token);
                    },
                    enctype: 'multipart/form-data',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data     : formData,
                    success  : function (){
                        location.href = '/board/detail/' + val
                    }

                })
            }


        }

        function deleteFn(val){
            $(val).parents(".file-detail-list").remove()
        }

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .input-group {
            margin-bottom : 15px
        }
        .fieldError {
            color: #bd2130;
        }

        textarea {
            height: 200px;
            border: none;
            resize: none;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <form th:object="${board}" th:action method="post" enctype="multipart/form-data">


        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">작성자</span>
            </div>
            <a type="text" class="form-control"  th:text="${board.boardWriter}" style="text-decoration: none"></a>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">제목</span>

            </div>
            <input type="text" class="form-control" th:field="*{boardTitle}" placeholder="제목을 입력해주세요"   maxlength='20'>
        </div>
        <div th:if="${#fields.hasErrors('boardTitle')}" th:errors="*{boardTitle}" class="fieldError">Incorrect data</div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">내용</span>
            </div>

            <textarea class="form-control" th:field="*{boardContents}" aria-label="With textarea"></textarea>
        </div>
        <div th:if="${#fields.hasErrors('boardContents')}" th:errors="*{boardContents}" class="fieldError">Incorrect data</div>



        <div>
            <div id="img-button">
                <button type="button" onclick="addFile()">+</button>
                <button type="button" onclick="removeFile()">-</button>
            </div>

            <div class="img-list">
                <div class="custom-file img-div">
                    <input type="file" class="custom-file-input" name="boardFileList" placeholder="첨부파일">
                    <label class="custom-file-label"></label>
                </div>
            </div>
            <div  class="custom-file-detail" th:if="${#lists.size(boardFileList) ne 0}">
                <div class="file-detail-list" th:field="*{fileIdList}" th:each="boardFile : ${boardFileList}" >
                    <a
                            th:href="|/board/file/download/${boardFile.boardFileId}|"  th:text="${boardFile.boardFileName}" style="padding:1px 30px 3px 4px;"
                            class ="fileIdList"
                            th:data-fileId="${boardFile.boardFileId}"
                    >
                    </a>
                    <span th:text="${#temporals.format(boardFile.createTime, 'yyyy-MM-dd HH:mm')}" ></span>
                    <button type="button" class="btn btn-primary" id="delete" onclick="deleteFn(this)" style="background-color: red" >삭제</button>
                </div>
            </div>
        </div>

        <br/>
        <div style="text-align: center">
            <button  th:onclick="|updateBoardFn(${board.boardId})|"   type="button" class="btn btn-primary" id="btn" >저장</button>

            <button th:onclick="|cancelBoard(${board.boardId})|" type="button" class="btn btn-primary">취소</button>
        </div>
    </form>
</div>
</html>